DEFAULT: 'https://The.CyberPul.se'

youtube: 'https://youtube.com/channel/UCU6TswZ2C-QJ3jgf5ujhHNw'
yt: 'https://youtube.com/channel/UCU6TswZ2C-QJ3jgf5ujhHNw'
twitter: 'https://twitter.com/TheCyberPulse'
instagram: 'https://instagram.com/TheCyberPulse'
tiktok: 'https://tiktok.com/@TheCyberPulse'
