DEFAULT: 'https://The.CyberPul.se'

bio: 'https://www.youtube.com/watch?v=9eNU1pV8uv4'
bttv: 'https://betterttv.com/users/5c3423b75752683d16e40994'

cast: 'http://pulse.to/podcast'
codex: 'https://The.CyberPul.se/codex'

discord: 'https://discord.gg/FkBtqct'

ffz: 'https://www.frankerfacez.com/channel/thecyberpulse'

ig: 'https://instagram.com/TheCyberPulse'
instagram: 'https://instagram.com/TheCyberPulse'
intro: 'https://www.youtube.com/watch?v=9eNU1pV8uv4'

party: 'https://twitch.tv/TheCyberPulse'
podcast: 'https://open.spotify.com/show/0rcCdmD3aeUEXNXpfGrDYB'
pulsecast: 'http://pulse.to/podcast'

specter: 'https://www.youtube.com/watch?v=Y6-u-k18Az0'
spectre: 'https://the.cyberpul.se/specter'
spotify: 'https://open.spotify.com/artist/7qxLKeM7MtIHo1iXtBtfXR?si=-XmG6MTLRh2pCYAZoq7Jdg'
sub_emotes: 'https://twitchemotes.com/channels/153849561'

thepulsecast: 'http://pulse.to/podcast'
tiktok: 'https://tiktok.com/@TheCyberPulse'
twitch: 'https://twitch.tv/TheCyberPulse'
twitter: 'https://twitter.com/TheCyberPulse'

wtf: 'http://pulse.to/intro'

x: 'https://twitch.tv/xeraen'
xeraen: 'https://twitch.tv/xeraen'

youtube: 'https://youtube.com/channel/UCU6TswZ2C-QJ3jgf5ujhHNw'
yt: 'https://youtube.com/channel/UCU6TswZ2C-QJ3jgf5ujhHNw'

yyc: 'http://the.cyberpul.se/yenyorkcity'
yenyorkcity: 'https://www.twitch.tv/videos/720491968'
